<template>
  <div v-loading="loading" class="allreport-container">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="选择年月">
        <el-col :span="11" class="all-report-col">
          <el-date-picker
            v-model="dateValue"
            type="monthrange"
            range-separator="至"
            start-placeholder="开始月份"
            end-placeholder="结束月份"
            @change="dateChange"
          ></el-date-picker>
        </el-col>
      </el-form-item>

      <el-form-item label="选择楼号">
        <el-col :span="11" class="all-report-col">
          <el-select clearable v-model="valueOption" placeholder="请选择" @change="optionChange">
            <el-option
              v-for="item in houseOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-col>
      </el-form-item>

      <template>
        <el-form-item label="选择房间">
          <el-col :span="11" class="all-report-col">
            <el-select clearable v-model="roomValue" placeholder="请选择" @change="roomOptionChange">
              <el-option
                v-for="item in roomOptions"
                :key="item.label"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-col>
        </el-form-item>
      </template>

      <el-form-item label="选择分页" v-if="showTableData.length && radio===3">
        <el-col :span="11" class="all-report-col">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="pageSizeOptions"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tableData.length"
          ></el-pagination>
        </el-col>
      </el-form-item>

      <el-form-item label="显示类型">
        <el-col :span="11" class="all-report-col">
          <el-radio-group v-model="radio">
            <el-radio :label="3">入住表格</el-radio>
            <el-radio :label="6">收入折线图</el-radio>
            <el-radio :label="9">入住率</el-radio>
          </el-radio-group>
        </el-col>
      </el-form-item>
    </el-form>

    <!--用表格显示内容-->
    <template v-if="showTableData.length && radio===3">
      <div>
        房租：{{account.houseCost}} 押金：{{account.deposit}} 电费：{{account.electricCharge}}
        水费：{{account.watchCharge}} 宽带：{{account.pppoeCharge}}
        总计：{{account.houseCost+account.deposit+account.electricCharge+account.watchCharge+account.pppoeCharge}}
      </div>
      <div v-if="allMonths>1">
        平均：
        <br />
        房租：{{getAverageMonth(account.houseCost)}} 押金：{{getAverageMonth(account.deposit)}} 电费：{{getAverageMonth(account.electricCharge)}}
        水费：{{getAverageMonth(account.watchCharge)}} 宽带：{{getAverageMonth(account.pppoeCharge)}}
        总计：{{getAverageMonth(account.houseCost+account.deposit+account.electricCharge+account.watchCharge+account.pppoeCharge)}}
      </div>
      <report-table :dataSource="showTableData"></report-table>
    </template>

    <div id="main"></div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { ajaxHost } from "../constant";
import ReportTable from "./ReportTable";
import { mapGetters } from "vuex";
import { getAllReports, deleteById } from "../api";

export default {
  name: "AllReports",
  components: { ReportTable },
  mounted() {
    this.init();
  },
  computed: {
    ...mapGetters({
      excelFiles: "excelFiles",
      user: "user"
    }),
    houseOptions() {
      const keys = Object.keys(this.reportObj);
      if (!keys.length) return [];
      return keys.map(v => ({
        value: v,
        label: v
      }));
    },
    roomOptions() {
      const house = this.reportObj[this.valueOption];
      if (!house) return [];
      let arr = [];
      let roomArr = [];
      house.forEach(item => {
        const room = item["房号"];
        if (room + "" === "2" || room + "" === "1" || room + "" === "0") {
          // debugger;
        }
        if (!roomArr.includes(room)) {
          roomArr.push(room);
          arr.push({
            label: room,
            value: room
          });
        }
      });
      const noAArr = arr
        .filter(
          v =>
            v.value !== undefined &&
            !v.value.toString().includes("a") &&
            !v.value.toString().includes("A")
        )
        .sort((a, b) => a.value - b.value);

      const includeA = arr.filter(
        v =>
          v.value !== undefined &&
          (v.value.toString().includes("a") || v.value.toString().includes("A"))
      );

      return noAArr.concat(includeA);
    },
    //平均每个月
    allMonths() {
      return this.getDateCollege(this.dateRange).length;
    },
    account() {
      const { tableData } = this;
      return this.getAccount(tableData);
    }
  },
  watch: {
    dateValue: function(val) {
      this.dateValue.forEach((v, i) => {
        const dateStr = this.dateFormat("YYYY-mm-dd HH:MM", v);
        const year = parseInt(dateStr.slice(0, 4));
        const month = parseInt(dateStr.slice(5, 7));
        this.dateRange[i] = { year, month };
      });
      console.log("dateRange", this.dateRange);
      this.tableData = this.getTableData({ dateRange: this.dateRange });
      this.showTableData = this.getShowTableData();
      this.renderEcharts(this.radio);
    },
    valueOption: function(val) {
      this.roomValue = "";
      this.tableData = this.getTableData({ valueOption: val });
      this.showTableData = this.getShowTableData();
      this.renderEcharts(this.radio);
    },
    roomValue: function(val) {
      this.tableData = this.getTableData({ roomValue: val });
      this.showTableData = this.getShowTableData();
      this.renderEcharts(this.radio);
    },
    pageSize: function(val) {
      this.showTableData = this.getShowTableData({ pageSize: val });
    },
    currentPage: function(val) {
      this.showTableData = this.getShowTableData({ currentPage: val });
    },
    radio: function(val) {
      if (val + "" !== "6") {
        document.getElementById("main").style.display = "none";
      } else {
        document.getElementById("main").style.display = "block";
      }
      this.renderEcharts(val);
    }
  },
  data() {
    const countArr = [];
    for (var i = 1; i < 50; i++) {
      countArr.push(i * 0.5);
    }
    const pageSizeOptions = countArr.map(v => v * 100);
    return {
      valueOption: "",
      roomValue: "",
      loading: false,
      dateValue: "",
      reportObj: {},
      dateRange: [],
      form: {},
      tableData: [],
      currentPage: 1,
      pageSize: pageSizeOptions[0],
      pageSizeOptions,
      showTableData: [], //当前展示的数据
      radio: 3
    };
  },
  methods: {
    ...mapMutations({
      saveExcelFile: "saveExcelFile"
    }),
    dateChange(e) {
      console.log("dateChange", e);
    },
    optionChange(e) {
      console.log("选择楼号", e);
    },
    roomOptionChange(e) {
      console.log(e);
    },
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    getAverageMonth(num) {
      if (["", 0, null, undefined].includes(num)) return 0;
      return (num / this.allMonths).toFixed(2);
    },
    renderEcharts(val) {
      if (val + "" == "6") {
        var echarts = require("echarts");

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById("main"));

        const { tableData, dateRange } = this;
        const dateCollege = this.getDateCollege(dateRange);
        debugger;

        const agreementDate = [{ year: 2017, month: 6 }, dateRange[1]];
        const agreementDateCollege = this.getDateCollege(agreementDate);

        const data = dateCollege.map(v => {
          const filterArr = tableData.filter(item => {
            return this.ifIncludeCurrentDate(item, [v]);
          });
          let houseCost = this.getAccount(filterArr).houseCost;

          if (
            filterArr.length &&
            this.ifIncludeCurrentDate(filterArr[0], agreementDateCollege)
          ) {
            debugger;
            houseCost = parseInt(houseCost) + 60600;
          }
          return houseCost;
        });

        // 绘制图表
        const options = {
          title: {
            text: "折线图堆叠"
          },
          tooltip: {
            trigger: "axis"
          },
          legend: {
            data: ["房租总收入"]
          },
          grid: {
            left: "3%",
            right: "4%",
            bottom: "3%",
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: "category",
            boundaryGap: false,
            data: dateCollege
          },
          yAxis: {
            type: "value"
          },
          series: [
            {
              name: "房租总收入",
              type: "line",
              stack: "总量",
              data
            }
          ]
        };
        myChart.setOption(options);
      }
    },
    getAccount(arr) {
      const tableData = JSON.parse(JSON.stringify(arr));
      let houseCost = 0;
      let deposit = 0;
      let electricCharge = 0;
      let watchCharge = 0;
      let pppoeCharge = 0;
      const getNumber = v => {
        if (v === undefined || v === null) return 0;
        return parseInt(v);
      };
      tableData.forEach(item => {
        const fz = getNumber(item["房租"]);
        const yj =
          getNumber(item["租房押金"]) +
          getNumber(item["卡押金"]) +
          getNumber(item["锁押金"]) +
          getNumber(item["遥控器"]);
        const df = getNumber(item["电费"]);
        const sf = getNumber(item["水费"]);
        const kd = getNumber(item["宽带"]);

        houseCost += fz;
        deposit += yj;
        electricCharge += df;
        watchCharge += sf;
        pppoeCharge += kd;
      });
      return {
        houseCost,
        deposit,
        electricCharge,
        watchCharge,
        pppoeCharge
      };
    },
    getDateCollege(dateRange) {
      if (dateRange.length === 0) return [];
      const startYear = dateRange[0].year;
      const startMonth = dateRange[0].month;
      const endYear = dateRange[1].year;
      const endMonth = dateRange[1].month;

      const dateCollege = [];
      if (startYear === endYear) {
        for (var i = startMonth; i <= endMonth; i++) {
          dateCollege.push(startYear + "-" + i);
        }
      } else if (startYear < endYear) {
        var y, maxMonth;
        for (var i = startYear; i <= endYear; i++) {
          if (startYear === i) {
            y = startMonth;
            maxMonth = 12;
          } else if (i > startYear && i < endYear) {
            y = 1;
            maxMonth = 12;
          } else if (i > startYear && i == endYear) {
            y = 1;
            maxMonth = endMonth;
          }
          for (y; y <= maxMonth; y++) {
            dateCollege.push(i + "-" + y);
          }
        }
      }
      return dateCollege;
    },
    ifIncludeCurrentDate(item, dateCollege) {
      const year = parseInt(item["登记年"]);
      const month = parseInt(item["月"]);
      return dateCollege.includes(year + "-" + month);
    },
    getTableData(param) {
      const {
        dateRange = this.dateRange,
        reportObj = this.reportObj,
        valueOption = this.valueOption
      } = param || {};
      const keys = Object.keys(reportObj);
      if (!keys.length || !dateRange.length) return [];

      const dateCollege = this.getDateCollege(dateRange);

      let houseData;
      if (["", undefined, null].includes(valueOption)) {
        houseData = Object.keys(reportObj).reduce((acc, item) => {
          return acc.concat(reportObj[item]);
        }, []);
      } else {
        houseData = reportObj[valueOption];
      }

      const dataSource = houseData.filter(v => {
        return this.ifIncludeCurrentDate(v, dateCollege);
      });

      const { roomValue } = this;
      const filterArr = dataSource.filter(v => {
        if (roomValue === "" || roomValue === null) return true;
        if (
          v["房号"] + "" === "2" ||
          v["房号"] + "" === "1" ||
          v["房号"] + "" === "0"
        ) {
          // debugger;
        }
        return roomValue + "" === v["房号"] + "";
      });

      return filterArr;
    },
    getShowTableData(param) {
      const { currentPage = this.currentPage, pageSize = this.pageSize } =
        param || {};
      return this.tableData.slice(
        (currentPage - 1) * pageSize,
        currentPage * pageSize
      );
    },
    async init() {
      this.loading = true;
      console.time("getAllReports");
      let res = await getAllReports();
      console.timeEnd("getAllReports");

      const { status, data = {} } = res;
      if (status == 200) {
        this.loading = false;
        let reportObj = {};
        if (data.data && data.data.length) {
          data.data
            .sort(v => parseInt(v.name.slice(0, 4)))
            .forEach((v, index) => {
              let { excelData, name, id } = v;
              const year = name.slice(0, 4);
              const house = v.name.slice(5, v.name.indexOf(".xlsx"));
              if (!excelData || !excelData[0]) return;
              let singleData = excelData[0];

              singleData = singleData.filter(this.filterInvalidInfo);
              singleData.forEach(v => {
                v["登记年"] = year;
                v["楼号"] = house;
                v["楼号"] = v["楼号"] + "";
              });

              if (!reportObj[house]) {
                reportObj[house] = [];
              }
              reportObj[house] = reportObj[house].concat(singleData);
            });
          this.reportObj = reportObj;
          this.loading = false;
        }
      }
    },
    filterInvalidInfo(item) {
      if (
        Object.keys(item).length == 1 &&
        "总额" in item &&
        item["总额"] == 0
      ) {
        return false;
      } else {
        return true;
      }
    },
    dateFormat(fmt, date) {
      let ret;
      const opt = {
        "Y+": date.getFullYear().toString(), // 年
        "m+": (date.getMonth() + 1).toString(), // 月
        "d+": date.getDate().toString(), // 日
        "H+": date.getHours().toString(), // 时
        "M+": date.getMinutes().toString(), // 分
        "S+": date.getSeconds().toString() // 秒
        // 有其他格式化字符需求可以继续添加，必须转化成字符串
      };
      for (let k in opt) {
        ret = new RegExp("(" + k + ")").exec(fmt);
        if (ret) {
          fmt = fmt.replace(
            ret[1],
            ret[1].length == 1 ? opt[k] : opt[k].padStart(ret[1].length, "0")
          );
        }
      }
      return fmt;
    }
  }
};
</script>

<style  lang="scss">
.all-report-col {
  text-align: left;
}
.allreport-container {
  display: flex;
  flex-direction: column;
  width: 98vw;
}
#main {
  height: 500px;
  width: 80%;
}
</style>
