<template>
  <div>
    <el-table :data="dataSource" height="800" style="width: 100%" class="report-table">
      <el-table-column fixed width="80" prop="登记年" label="登记年"></el-table-column>

      <el-table-column fixed width="60" prop="楼号" label="楼号"></el-table-column>

      <el-table-column fixed width="60" prop="房号" label="房号"></el-table-column>

      <el-table-column fixed width="60" prop="月" label="月"></el-table-column>

      <el-table-column prop="日" label="日" width="60"></el-table-column>

      <el-table-column prop="房租" label="房租"></el-table-column>

      <el-table-column prop="电表(度)" label="电表(度)"></el-table-column>

      <el-table-column prop="电费" label="电费"></el-table-column>

      <el-table-column prop="水表(吨)" label="水表(吨)"></el-table-column>

      <el-table-column prop="水费" label="水费"></el-table-column>

      <el-table-column prop="租房押金" label="租房押金"></el-table-column>

      <el-table-column prop="卡号" label="卡号"></el-table-column>

      <el-table-column prop="卡押金" label="卡押金"></el-table-column>

      <el-table-column prop="锁" label="锁"></el-table-column>

      <el-table-column prop="锁押金" label="锁押金"></el-table-column>

      <el-table-column prop="遥控器" label="遥控器"></el-table-column>

      <el-table-column prop="宽带日期" label="宽带日期"></el-table-column>

      <el-table-column prop="宽带" label="宽带"></el-table-column>

      <el-table-column prop="支付方式" label="支付方式"></el-table-column>

      <el-table-column prop="状态" label="状态"></el-table-column>

      <el-table-column prop="年" label="年"></el-table-column>

      <el-table-column prop="月" label="月"></el-table-column>

      <el-table-column prop="日" label="日"></el-table-column>

      <el-table-column fixed="right" width="120" prop="总额" label="总额"></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "ReportTable",
  props: ["dataSource"],
  mounted() {
    console.log(this.dataSource);
  }
};
</script>

<style scoped>
.report-table {
  height: 100%;
  overflow: auto;
}
</style>
