
<!-- 继承父模板 -->
{{extend './layout/main.html'}}
<!-- 填坑 -->

 {{block 'container'}} 
    <div class="container">
        <form id="form" method="post" action="/">
            <div class="form-group">
                <label for="">歌曲标题</label>
                <input type="text" name="title" class="form-control" placeholder="请输入歌曲标题">
            </div>
            <div class="form-group">
                <label for="">歌曲时长</label>
                <input type="text" name="time" class="form-control" placeholder="请输入歌曲时长">
            </div>
            <div class="form-group">
                <label for="">歌手</label>
                <input type="text" name="singer" class="form-control" placeholder="请输入歌手姓名">
            </div>
            <div class="form-group">
                <label for="">歌曲文件</label>
                <input type="file" name="file">
                <p class="help-block">请上传歌曲文件.</p>
            </div>
             <div class="form-group">
                <label for="">歌词文件</label>
                <input type="file" name="filelrc">
                <p class="help-block">请上传歌曲文件.</p>
            </div>
            <button type="submit" class="btn btn-success">点击添加</button>
        </form>
    </div>
    <script type="text/javascript">
        // 由于$.serialize() 函数对文件的input 获取的是路径文件名
        // 一个个的来处理
        var form = document.getElementById('form');
        form.addEventListener('submit',function(e) {
            e.preventDefault();

            // 上传文件 有flash方式/formData(H5)
            var fd = new FormData();

            // 获取多个input元素
            var inputs = document.querySelectorAll('input');
            var title = inputs[0].value;
            var time = inputs[1].value;
            var singer = inputs[2].value;
                            // 如果是多文件，files就有可能[1|2..]
            var file = inputs[3].files[0];
            var filelrc = inputs[4].files[0];

            fd.append('title',title);
            fd.append('time',time);
            fd.append('singer',singer);
            fd.append('file',file);
            fd.append('filelrc',filelrc);

            // 在jq中ajax上传文件，默认content-type:application/x-www-form-urlencoded
            // 数据是以键值对的方式

            // 上传文件
            $.ajax({
                // 不需要其帮我设置该默认头=> enctype:"multipart/formdata"
                contentType:false,
                // 不需要转换请求体数据成键值对
                processData:false,
                type:'post',
                url:'/music/add-music',
                data:fd,
                success:function(res) {
                    if(res.code === 'ok') {
                        var result = confirm('添加成功，去听歌?');
                        if(result) {
                            window.location = '/music/index';
                        }
                    } else {
                        alert(res.msg);
                    }
                }
            })


        });
    </script>
{{/block}}